---
title: Orion Leidl Wilson
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ description }}" />
    <link rel="canonical" href="https://orionlw.me{{ page.url }}" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Atom Feed"
      href="/feed.xml"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
    />
    <link rel="me" href="https://github.com/orionlw" />
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    <link rel="icon" href="/guitar-solid.svg" type="image/x-icon" />
  </head>
  <body>
    <header class="container" style="margin-bottom: 1rem">
      <h1>{{ title | default("Orion Leidl Wilson") }}</h1>
    </header>

    <nav class="container" style="margin-bottom: 1rem">
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/blog" class="contrast">Blog</a></li>
        <li><a href="/about">About Me</a></li>
      </ul>
    </nav>

    <main class="container" style="margin-bottom: 2rem">
      {{ content }}
    </main>

    <footer class="container" style="margin-top: 2rem">
      {% if page.url != "/" %}
      <div class="footer-links" style="margin: 2em 0 1em 0">
        <a href="/" title="Back to Home">← Back to Home</a>
      </div>
      {% endif %}
      <div style="height: 1em"></div>
      <div class="social-icons" style="margin-bottom: 1.5em">
        <a href="https://github.com/orionlw" title="GitHub">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://mastodon.social/@orionlw" rel="me" title="Mastodon">
          <i class="fab fa-mastodon"></i> Mastodon
        </a>
        <a href="https://pixelfed.social/orionlw" rel="me" title="Pixelfed">
          <i class="fas fa-camera-retro"></i> Pixelfed
        </a>
        <a href="https://letterboxd.com/orionlw" title="Letterboxd">
          <i class="fab fa-letterboxd"></i> Letterboxd
        </a>
        <a href="mailto:orionlw@pm.me" title="Email">
          <i class="fas fa-envelope"></i> Email
        </a>
        <a href="/feed.xml" title="Atom Feed">
          <i class="fas fa-rss"></i> Atom Feed
        </a>
      </div>
      <p>
        © 2025 Orion Leidl Wilson. Site made with
        <a href="https://www.11ty.dev/" target="_blank" rel="noopener">11ty</a>
        and
        <a href="https://picocss.com/" target="_blank" rel="noopener"
          >pico CSS</a
        >.
      </p>
    </footer>
  </body>
</html>
