---js
const eleventyNavigation = {
	key: "Links",
	order: 4
};
---

<h1>Links</h1>
<ul>
	<li>
		<a href="https://nightdogs.xyz/" target="_blank" rel="noopener"
			>Jane Bach’s Blog (nightdogs.xyz)</a
		>
	</li>
	<li>
		<a href="https://mitchellmcfadgentrio.live/" target="_blank" rel="noopener"
			>Mitchell McFadgen Trio (Band Website)</a
		>
	</li>
</ul>
