<!-- filepath: /home/orionlw/projects/orionlw.me/content/links.njk -->
<
---js
const eleventyNavigation = {
	key: "Links",
	order: 5
};
---

h2>Links</h2>
<ul>
	<li>
		<a href="https://nightdogs.xyz/" target="_blank" rel="noopener"
			>Jane Bach’s Blog (nightdogs.xyz)</a
		>
	</li>
	<li>
		<a href="https://mitchellmcfadgentrio.live/" target="_blank" rel="noopener"
			>Mitchell McFadgen Trio (Band Website)</a
		>
	</li>
</ul>
