---
layout: layout.liquid
---

<main class="container">
  <section>
    <p>
      I am a musician located in Grand Pré, Nova Scotia, Canada. My main
      instrument is electric bass. I am also a composer. Other interests include
      cycling, computers, and film/tv.
    </p>
    <p>
      This website is a work in progress. Here you can find my projects, blog
      posts, and ways to connect with me.
    </p>
    <!-- Add more details, images, or links as you wish -->
  </section>
</main>
